<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ShowDirectory.ascx.cs" Inherits="SSL.UserControls.Directory.ShowDirectory" %>
<%@ Register Src="Upload.ascx" TagName="Upload" TagPrefix="uc1" %>
<style type="text/css">
 .DirectoryBrowser:{text-align:left;padding:10px}
</style>
 <uc1:Upload ID="UCUpload" runat="server" />
<asp:Panel ID="pnlDirectory" runat="server" CssClass="DirectoryBrowser">
</asp:Panel>

